// Theme Colors
$primary                                    : #03474a;
$secondary                                  : #2fc3af;
$white                                      : #fff;
$success                                    : #1eca1a;
$danger                                     : #e43536;
$warning                                    : #ffc400;
$info                                       : #8d63d3;