<section class="d-flex align-items-center justify-content-center overflow-auto">
    <div class="col-6 d-flex flex-column align-items-center justify-content-center  pt-5">
        <h1 class="pb-4">Instructions</h1>

        <span class="pb-3 fs-5 ">% : Calculates Percentage. 200 % 50 = 100</span>
        <span class="pb-3 fs-5">C : Clears Previous Calculations.</span>
        <span class="pb-3 fs-5">= : Passes the current answer to Input </span>

        <a href = "mailto:mihir.mystical3@gmail.com?subject = Feedback&body = Message">
            Send Feedback : <em>mihir.mystical3@gmail.com</em>
            </a>
    </div>
</section>
