<footer class="p-3                                 d-flex flex-column align-items-center justify-content-center ">
    <section class="pb-2 d-flex justify-content-start align-items-center">
        <span class="fs-3">DevLinks: </span>
        <nav class="d-flex justify-content-center align-items-center">
            <ul class="nav">
                <li class="nav-item">
                    <a href="https://twitter.com/letaprihim" class="nav-link d-flex align-items-center">
                        <!-- <img src="./../../../assets/images/icons8-calculator-1024(7).png" alt="brand-logo" height="20" width="45"> -->
                        <!-- <span class="ps-3 fs-5 ">Vanilla <br> Calculator</span> -->
                        <span class=" icon-twitter"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="https://www.instagram.com/siieiesjja/" class="nav-link d-flex align-items-center">
                        <!-- <img src="./../../../assets/images/icons8-calculator-1024(7).png" alt="brand-logo" height="20" width="45"> -->
                        <!-- <span class="ps-3 fs-5 ">Vanilla <br> Calculator</span> -->
                        <span class=" icon-instagram"></span>
                    </a>
                </li>
            </ul>
        </nav>
    </section>
    <section> 
        <span class="d-flex flex-column align-items-center justify-content-center">
            <span>
                Mihir Patel
            </span>
            <span>
                At & Post: Atgam
            </span>
            <span>
                Valsad, 396045
            </span>
            <span>
                India
            </span>
       </span>
    </section>
</footer>
