
<section class="d-flex flex-column align-items-center justify-content-center">
    <div class="col-6 d-flex flex-column  justify-content-center  pt-5">
        <h1 class="pb-4">About Vanilla </h1>

        <span class="pb-3 fs-5 ">Vanilla Calculator is an independently developed application using Apple's Native SwiftUI architecture.</span>

     </div>
    <div class="col-6 d-flex flex-column  justify-content-center  pt-5">
        <h1 class="pb-4">Credits </h1>

        <span class="pb-3 fs-5 ">I would like to thank the following SwiftUI instructors. Their free educational content helped build the app from scratch.</span>

        <div class="pb-3">
            <h5>Paul Hudson</h5>
            <a  href="https://www.hackingwithswift.com/">Hacking with Swift – learn to code iPhone and iPad apps with free Swift tutorials</a>
        </div >
        <div class="pb-3">
            
            <h5>tundsdev</h5>
            <a  href="https://tunds.dev/">tundsdev - iOS Content Creator - iOS & SwiftUI Tutorials</a>
        </div >
        <div class="pb-3">
            
            <h5>Chris Ching</h5>
            <a  href="https://codewithchris.com/">CodeWithChris - The Leader in iOS Foundations Training</a>
        </div >
     </div>
</section>

