::-webkit-scrollbar {
    width: 2px;
    height: 2px;

    &-thumb {
        background-color: $primary;
        border-radius: 12px;
    }

    &-button {
        visibility: hidden;
        height: 2px;
        width: 2px;

        &:vertical:start:increment,
        &:vertical:end:decrement,
        &:horizontal:start:increment,
        &:horizontal:end:decrement {
            display: none;
        }
    }
}

// Small devices (landscape phones, less than 768px)
// @media (max-width: $tablet-view) {
//     ::-webkit-scrollbar {
//         width: 2px;
//         height: 2px;

//         &-button {
//             height: 2px;
//             width: 2px;
//         }
//     }
// }