<header class="py-3 px-2 bg-black border">
    <nav class="d-flex justify-content-center align-items-center">
        <ul class="nav">
            <li class="nav-item">
                <a href="" class="nav-link d-flex align-items-center">
                    <img src="./../../../assets/images/icons8-calculator-1024(7).png" alt="brand-logo" height="45" width="45">
                    <span class="ps-3 fs-5 ">Vanilla <br> Calculator</span>
                </a>
            </li>
        </ul>
    </nav>
    <nav class="d-flex justify-content-center align-items-center">
        <ul class="nav">
            <li class="nav-item">
                <a href="" class="nav-link">
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">
                    Privacy
                </a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">
                    Support
                </a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">
                    About
                </a>
            </li>
        </ul>
    </nav>
</header>
