<header class="py-3 px-2 bg-black">
    <nav class="d-flex justify-content-center align-items-center">
        <ul class="nav">
            <li class="nav-item">
                <a href="" class="nav-link d-flex align-items-center">
                    <img src="./../../../assets/images/icons8-calculator-1024(7).png" alt="brand-logo" height="45" width="45">
                    <span class="ps-3 fs-5 ">Vanilla <br> Calculator</span>
                </a>
            </li>
        </ul>
    </nav>
    <nav class="d-flex justify-content-center align-items-center">
        <ul class="nav d-flex flex-nowrap">
            <li class="nav-item fs-6">
                <a href="" class="nav-link" routerLink="pages/home" routerLinkActive="active">
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="pages/privacy" routerLinkActive="active">
                    <span> 
                        Privacy
                    </span> 
                </a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link" routerLink="pages/support" routerLinkActive="active">
                    Support
                </a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link" routerLink="pages/about" routerLinkActive="active">
                    About
                </a>
            </li>
        </ul>
    </nav>
</header>
