<section class=" d-flex flex-column-reverse flex-lg-row overflow-hidden">
    <main class="col-12 col-lg-6 d-flex flex-column align-items-center justify-content-center">
        <h1 class="m-0 brand-name text-center">VANILLA CALC</h1>
        <p class="m-0 pb-3 brand-desc"><b>A Simple iOS Calculator</b></p>
        <div>
            <a href="#">
                <figure>
                    <img src="./../../../assets/images/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg" alt="app store" height="50px">
                </figure>
            </a>
        </div>
    </main>
    <aside class="col-12 col-lg-6">
        <figure class=" brand-image p-5 text-center">
            <img class="img-fluid"  src="./../../../assets/images/IMG_6759_iphone13blue_portrait.png" alt="img">
        </figure>
    </aside>
</section>
