.nav {
    .nav-item .nav-link {
        color: white;
        cursor: pointer;

        &:hover {
            color: #FCC419;

        }
        &:active {
            .active-link {
                background-color: blue;
                color:red;
                font-weight: bold;
            }
        }
    }
}

.active {
    // background-color: blue;
    color:#FCC419;
    font-weight: bold;
}